<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577284010119-aj00ltmsvqsae5bvvfli1o3su538kb16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577284010119-aj00ltmsvqsae5bvvfli1o3su538kb16</string>
	<key>API_KEY</key>
	<string>AIzaSyBb5Qee7iIC2lfftoNbAGCqBBSCbc4sEqI</string>
	<key>GCM_SENDER_ID</key>
	<string>577284010119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trendcraft</string>
	<key>PROJECT_ID</key>
	<string>trendcraft-c44e4</string>
	<key>STORAGE_BUCKET</key>
	<string>trendcraft-c44e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577284010119:ios:a5db54e85883744f62c822</string>
</dict>
</plist>